* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    min-width: 320px;
}

.container {
    width: 800px;
    max-width: 100%;
    margin: 20px auto;
}

.introduction {
    color: #96897f;
    font-size: 26px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 3px;
    position: relative;
    top:-40px;
    opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.mark {
    border-bottom: 1px solid #96897f;
    margin-top: 10px;
    width: 0;
    opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.nav {
    width: 60px;
    top: 25px;
    right: 25px;
    position: fixed;
    z-index: 1;
}

.nav .menu {
    list-style-type: none;
    text-align: center;
}

.nav .menu li {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.nav .menu li .line {
    height: 3px;
    background-color: #bdbdbd;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    opacity: 1;
}
.nav .menu li.nav-active .line,
.nav .menu li:hover .line {
    visibility: hidden;
}

.nav .menu li .text {
    visibility: hidden;
    position: relative;
    top: -20px;
    color: #bdbdbd;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.nav .menu li.nav-active .text,
.nav .menu li:hover .text {
    top: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.nav .menu li.nav-active .text a,
.nav .menu li:hover .text a {
    visibility: visible;
    color: #bdbdbd;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 400;
}

.parallax {
    height:70vh;
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.parallax-one {
    background-image: url("../img/code_pexels.jpeg");
}

.parallax-two {
    background-image: url("../img/phone_old_pexels.jpeg");
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
}

#home {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../img/portfolio-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#home .home-box {
    position: relative;
    top: 65%;
    width: 32%;
    left: 50%;
    text-align: center;
}

#home .home-box .name-details .name {
    color: #96897f;
    font-weight: 400;
    font-size: 26px;
    right: 210px;
    margin-bottom: 10px;
    border-bottom: 1px solid #96897f;
    text-transform: lowercase;
}

#home .home-box .name-details .name-desc {
    color: #bdbdbd;
    font-weight: 200;
    font-size: 24px;
    right: 210px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 30px 10px;
}

#about.animate .introduction {
    top: 0px;
    opacity: 1;
}

#about.animate .mark {
    width: 100%;
    opacity: 1;
}

#about .explication {
    font-size: 16px;
    line-height: 35px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    color: black;
    margin-top: 30px;
    position: relative;
    bottom: -40px;
    opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

#about.animate .explication {
    bottom: 0;
    opacity: 1;
}

#about .tech-and-skills {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #96897f;
    flex-wrap: wrap;
}

#about .tech-and-skills li {
    padding: 5px;
}

#about .tech-and-skills li:nth-of-type(1) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 1.8s;
    -moz-transition-delay: 1.8s;
    -ms-transition-delay: 1.8s;
    -o-transition-delay: 1.8s;
    transition-delay: 1.8s;
}

#about .tech-and-skills li:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
}

#about .tech-and-skills li:nth-of-type(3) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 2.2s;
    -moz-transition-delay: 2.2s;
    -ms-transition-delay: 2.2s;
    -o-transition-delay: 2.2s;
    transition-delay: 2.2s;
}

#about .tech-and-skills li:nth-of-type(4) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 2.4s;
    -moz-transition-delay: 2.4s;
    -ms-transition-delay: 2.4s;
    -o-transition-delay: 2.4s;
    transition-delay: 2.4s;
}

#about .tech-and-skills li:nth-of-type(5) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 2.6s;
    -moz-transition-delay: 2.6s;
    -ms-transition-delay: 2.6s;
    -o-transition-delay: 2.6s;
    transition-delay: 2.6s;
}

#about .tech-and-skills li:nth-of-type(6) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 2.8s;
    -moz-transition-delay: 2.8s;
    -ms-transition-delay: 2.8s;
    -o-transition-delay: 2.8s;
    transition-delay: 2.8s;
}

#about .tech-and-skills li:nth-of-type(7) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-delay: 3s;
}

#about .tech-and-skills li:nth-of-type(8) {
    opacity: 0;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-delay: 3.2s;
    -moz-transition-delay: 3.2s;
    -ms-transition-delay: 3.2s;
    -o-transition-delay: 3.2s;
    transition-delay: 3.2s;
}

#about.animate .tech-and-skills li {
    opacity: 1;
    font-size: 18px;
}

#projects {
    display: flex;
    align-items: stretch;
    height: 80vh;
}

#projects .project-box {
    width: 100%;
    position: relative;
    background-size:cover;
    background-position:center;
}

#projects #project-one {
    background-image: url(../img/daylight-environment-forest-459225.jpg)
}

#projects .project-box .project-details {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#projects .project-box .project-details:hover {
    opacity: 0.8;
}

 #projects .project-box .project-details .project-headline {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: #d3c6af;
    text-transform: lowercase;
 }

#projects .project-box .project-details .project-link .button-link {
    border: 1px solid #c5b395;
    padding: 7px 27px;
    text-decoration: none;
    background: #ad9e85;
    color: #5b503d;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-top: 5px;
    letter-spacing: 3px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#projects .project-box .project-details .project-link .button-link:hover {
    background: #c9c0af;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

#contact.animate .introduction {
    top: 0;
    opacity: 1;
}

#contact.animate .mark {
    width: 100%;
    opacity: 1;
}

#contact form {
    width: 350px;
    max-width: 100%;
    margin: 30px auto 0;
    position: relative;
    bottom:-40px;
    opacity: 0;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

#contact.animate form {
    bottom: 0;
    opacity: 1;
}

#contact form input[type=text], input[type=email], textarea {
    border: none;
    width: 100%;
    padding: 5px 5px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    color: #96897f;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: lowercase;
}

#contact form textarea {
    resize: none;
}

#contact form input::placeholder, textarea::placeholder {
    color: #96897f;
}

#contact form input:focus, textarea:focus {
    border-bottom: 1px solid #848484;
}

#contact form input[type="submit"] {
    width: 100%;
    background: #fff;
    color: #96897f;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 3px;
    border: 1px solid #848484;
    cursor: pointer;
    text-transform: lowercase;
}

#contact form input[type="submit"]:hover {
    background: #ad9e85;
    color: #fff;
}

#footer {
    background: #f4f4f4;
    height: auto;
}

#footer .container {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

#footer .footer-start .socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#footer .footer-start .socials li a {
    font-size: 16px;
    display: block;
    padding: 40px;
    text-transform: lowercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: #96897f;
}

#footer .footer-start .socials li a:hover {
    opacity: 0.5;
}

#footer .footer-end {
    text-transform: uppercase;
    font-size: 12px;
    color: #bdbdbd;
    letter-spacing: 3px;
    text-align: center;
}

/* add mobile styles */
.mobile-section .mobile-nav {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.mobile-section .mobile-nav li {
    text-align: center;
    text-transform: lowercase;
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px solid #848484;
    letter-spacing: 3px;
}

.mobile-section .mobile-nav li.nav-active {
    background-color: #ad9e85;
}
.mobile-section .mobile-nav li.nav-active a {
    color:white;
}

.mobile-section .mobile-nav li a {
    text-decoration: none;
    color: #96897f;
}

.mobile-section .mobile-nav li:hover {
  border-color: #bdbdbd;
}

/* MOBILE VERSION */

/* navigation */
body.mobile .mobile-section .mobile-nav {
    display: block;
}

body.mobile .mobile-section .mobile-nav a {
    display: block;
}

body.mobile .mobile-section .nav {
    display: none;
}

body.mobile .mobile-section .nav .menu li {
    border: none;
}

/* home */
body.mobile #home {
    background-position: left;
}
body.mobile #home .home-box {
    left: 0;
    top: 90px;
    width: 100%;
}
body.mobile #home .name-details {
    width: 230px;
    margin: 0 auto;
}
body.mobile #home .home-box .name-details .name {
    font-size: 20px;
    margin-bottom: 0;
}
body.mobile #home .home-box .name-details .name-desc {
    font-size: 16px;
}

/* projects */
body.mobile #projects {
    flex-wrap: wrap;
}
body.mobile #projects .project-box {
    width:100%;
}
body.mobile #projects .project-box .project-details {
    opacity:0.8;
}

.alert {
    display: none;
}
